@import "tailwindcss";
@import './styles/fonts.css';


input, textarea, [contenteditable="true"] {
  caret-color: auto;
}

body {
  background-color: var(--color-main-bg);
  font-family: 'Jal', sans-serif;
  color: var(--color-main-text);
}

@theme {
  --color-main-bg: #FCF9F4;    /* 메인 배경색 */
  --color-main-color: #AD7661; /* 메인 색상 */
  --color-sub-color: #C49E89; /* 보조 색상 */
  --color-main-text: #57463F; /* 기본 텍스트 색 */
  --color-active-color: #8C645A; /* 기본 강조 색 */
  --font-Jal: 'Jal', sans-serif;
  --font-money: 'money', sans-serif;
}


