@import "tailwindcss";
@import './styles/fonts.css';

:root {
  --main-bg: #FCF9F4; /* 메인 배경색 */
  --main-color: #AD7661; /* 메인 색상 */
  --main-color-hover: #a06752; /* 메인 색상 호버 */
  --main-color-active: #905944; /* 메인 색상 클릭 */
  --sub-color: #C49E89; /* 보조 색상 */
  --main-text: #57463F; /* 기본 텍스트 색 */
  --active-color: #8C645A; /* 기본 강조 색 */
  --active-color-hover: #7a564d; /* 기본 강조 색 호버 */
  --active-color-active: #6b4940; /* 기본 강조 색 클릭*/
  --font-Jal: 'Jal', sans-serif;
  --font-money: 'money', sans-serif;
  overscroll-behavior-y: none;
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-left: env(safe-area-inset-left);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
}

@theme inline {
  --color-main-bg: var(--main-bg); /* 메인 배경색 */
  --color-main-color: var(--main-color); /* 메인 색상 */
  --color-main-color-hover: var(--main-color-hover); /* 메인 색상 호버 */
  --color-main-color-active: var(--main-color-active); /* 메인 색상 클릭 */
  --color-sub-color: var(--sub-color); /* 보조 색상 */
  --color-main-text: var(--main-text); /* 기본 텍스트 색 */
  --color-active-color: var(--active-color); /* 기본 강조 색 */
  --color-active-color-hover: var(--active-color-hover); /* 기본 강조 색 호버 */
  --color-active-color-active: var(--active-color-active); /* 기본 강조 색 클릭 */
  --font-Jal: 'Jal', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-money: 'money', -apple-system, BlinkMacSystemFont, sans-serif;

  /* ====== IOS 안전 영역 ====== */
  --spacing-safe-top: var(--safe-area-top);
  --spacing-safe-left: var(--safe-area-left);
  --spacing-safe-right: var(--safe-area-right);
  --spacing-safe-bottom: var(--safe-area-bottom);
}

@layer components {

  /* input 기본 공통 속성 */
  .input-primary {
    @apply min-w-0 w-full focus:border-active-color-active focus:outline-0 border-main-color placeholder:font-money border-2 rounded-xl h-14 text-xl px-2 transition-colors;
  }
  .error-input-border {
    @apply border-red-400;
  }

  /* button 기본 공통 속성 */
  .btn-primary {
    @apply w-full tracking-wide px-1 py-2 bg-main-color text-xl sm:text-2xl text-white rounded-lg h-14 border-[6px] border-main-color cursor-pointer
  }
  .btn-secondary {
    @apply w-full tracking-wide px-1 py-2 bg-transparent text-xl sm:text-2xl text-main-text rounded-lg h-14 border-[6px] border-main-color cursor-pointer
  }
  .btn-cancel {
    @apply w-full h-14 py-4 text-lg sm:text-xl hover:bg-gray-200 bg-gray-100 text-gray-500 rounded-xl active:bg-gray-300 active:scale-95 transition-all cursor-pointer
  }
  .btn-success {
    @apply w-full h-14 py-4 text-lg sm:text-xl hover:bg-main-color-hover bg-main-color text-white rounded-xl disabled:bg-gray-300 active:bg-main-color-active active:scale-95 transition-all cursor-pointer
  }

  /* 모달 공통 속성 */
  .modal-bg {
    @apply fixed inset-0 flex justify-center items-center bg-black/60 z-50 p-4
  }
  .modal-border {
    @apply rounded-3xl border-4 border-main-color shadow-2xl
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #0003 transparent;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #0003;
    border-radius: 10px;
    transition: background .2s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0000004d;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #0006;
  }

  html {
    font-size: 16px;
  }

  body {
    background-color: var(--color-main-bg);
    font-family: 'Jal', sans-serif;
    color: var(--color-main-text);
  }

  input, textarea, [contenteditable="true"] {
    caret-color: auto;
  }

  /* button 공통 속성 */

  /* 반응형 공통 */
  @media (min-width: 640px) {
    html {
    }
  }
  @media (min-width: 768px) {
    html {
    }
  }
  @media (min-width: 1024px) {
    html {
    }
  }
  @media (min-width: 1280px) {
    html {
    }
  }
}
